
:root {
  --primary: #ff9f1c;
  --secondary: #2ec4b6;
}

:root > * {
  /* ------------------ */
  --md-primary-fg-color: var(--primary);
  --md-typeset-a-color: var(--secondary);
  --md-accent-fg-color: var(--secondary);
}